$backgroundColor: #303e52;
$buttonLinkColor: #3f9194;
$buttonLinkHoverColor: #609696;
$buttonLinkBorderColor: #222c3a;

$modalRootColor: #242424b3;
$modalColor: #44639c;
$junoColor: #ea593e;
$footerColor: #3f3f3f;

$fontSansSerif: "Lexend", sans-serif;
