@mixin headingFont($fontSize, $lineHeight: inherit, $letterSpacing: inherit) {
  font-family: $fontDokdo;
  color: $marigold;
  font-size: $fontSize;
  line-height: $lineHeight;
  letter-spacing: $letterSpacing;
}

@mixin paragraphFont {
  font-family: $fontLato;
  line-height: 3.2rem;
  letter-spacing: 2px;
  color: $iceBlue;
}

@mixin formFont {
  font-family: $fontLato;
  font-weight: 300;
  line-height: 3.2rem;
  letter-spacing: 2px;
}

@mixin logoFont {
  color: $marigold;
  font-family: $fontDokdo;
  font-size: 4.15rem;
}
