$backgroundColor: rgb(48, 62, 82);
$buttonLinkColor: rgb(61, 133, 136);
$modalRootColor: rgba(36, 36, 36, 0.7);
$modalColor: rgb(68, 99, 156);
$junoColor: #ea593e;
$footerColor: rgb(63, 63, 63);

$fontSansSerif: 'Lexend', sans-serif;
