$backgroundColor: rgb(48, 62, 82);
$buttonLinkColor: rgb(61, 133, 136);
$modalRootColor: rgba(36, 36, 36, 0.7);
$modalColor: cornflowerblue;
$junoColor: #ea593e;

$fontSansSerif: 'Lexend', sans-serif;
